@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<MatStacks.Models.Subject>

@{
    Layout = "_Layout";
}

<!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>

        @foreach (var s in Model)
        {
            <h5 style="margin-left:10px" class="SideBarOverSkrift">
                @Html.ActionLink(@s.Title, "Index", "Subject", new { id = s.Id }, null)
            </h5>

            <h6 style="margin-left:10px" class="SideBarOverSkrift">
                @s.Description
            </h6>
        }
    </div>

<div>
    <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
    </div>
</div>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:0px; margin-top:50px" id="main">
    <ul >
    @foreach (var item in Model)
    {
        <li>
          <h3> <a asp-action="Index" asp-controller="Subject" asp-route-id="@item.Id"> @item.Title </a></h3>

            <p> @item.Description</p>

        </li>
    }

    </ul>
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

 

    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
   
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }


   
</script>





