@model MatStacks.Models.Subject
@{
    Layout = "_Layout";
}
<h1>@Model.Title</h1>

<h3>@Model.Description</h3>

@foreach (var p in Model.Posts)
{
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">@Html.ActionLink(@p.Title, "Index", "Post", new { id = p.Id }, null)</h1>
            <p>
                @p.Body
            </p>
        </div>
    </div>
}

<h4>
    <a href="http://localhost:61509/Post/Create/@Model.Id">Lav dit eget opslag</a>
</h4>
